<!-- views/ideas/list.ejs -->
<div class="school-ideas-container">
    <h1>Список идей</h1>
    
    <div class="school-ideas-list">
        <% if (ideas.length === 0) { %>
            <p class="school-idea-empty">Нет идей для рассмотрения</p>
        <% } else { %>
            <% ideas.forEach(function(idea) { %>
                <div class="school-idea-card" data-id="<%= idea._id %>">
                    <div class="school-idea-content">
                        <h3><%= idea.name %></h3>
                        <p><%= idea.description %></p>
                        <small class="author">Автор: <%= idea.userFullName %></small>
                    </div>
                    <div class="school-idea-meta">
                    <div class="school-idea-date">
                        <%= idea.formattedDate %>
                    </div>
                </div>
                <div class="school-idea-actions">
                    <% if (idea.status === ideaStatusEnum.PENDING) { %>
                        <button 
                            class="school-idea-btn school-idea-btn-success school-idea-btn-approve"
                            data-idea-id="<%= idea._id %>"
                            onclick="updateStatus('<%= idea._id %>', '<%= ideaStatusEnum.APPROVED %>')">
                            Подтвердить
                        </button>
                        <button 
                            class="school-idea-btn school-idea-btn-danger school-idea-btn-reject"
                            data-idea-id="<%= idea._id %>"
                            onclick="updateStatus('<%= idea._id %>', '<%= ideaStatusEnum.REJECTED %>')">
                            Отклонить
                        </button>
                    <% } else { %>
                        <span class="school-idea-status <%= 
                            idea.status === ideaStatusEnum.APPROVED 
                                ? 'school-idea-status-approved' 
                                : 'school-idea-status-rejected' 
                        %>">
                            <%= idea.status === ideaStatusEnum.APPROVED ? 'Подтверждено' : 'Отклонено' %>
                        </span>
                    <% } %>
                </div>
                </div>
            <% }); %>
        <% } %>
    </div>
</div>