<!-- views/admin/survey/edit.ejs -->
<div class="survey-edit-form">
    <h1>Редактирование опроса</h1>
    
    <form action="/admin/surveys/<%= survey._id %>/edit" method="POST">
        <div class="form-group">
            <label for="name">Название опроса:</label>
            <input 
                type="text" 
                id="name"
                name="name" 
                value="<%= survey.name %>"
                required
            >
        </div>
        
        <div class="form-group">
            <label for="description">Описание:</label>
            <textarea 
                id="description"
                name="description" 
                rows="4" 
                required
            ><%= survey.description %></textarea>
        </div>

        <div class="form-group">
            <label for="schoolFilter">Школа:</label>
            <select id="schoolFilter" name="schoolFilter" required>
                <% schools.forEach(function(school) { %>
                    <option value="<%= school._id %>" 
                            <%= survey.schoolId.toString() === school._id.toString() ? 'selected' : '' %>>
                        <%= school.name %>
                    </option>
                <% }); %>
            </select>
        </div>

        <div class="form-group" id="classSelectGroup">
            <label>Классы:</label>
            <div class="class-actions">
                <a href="#" id="selectAll">Выбрать всех</a> | 
                <a href="#" id="clearAll">Очистить выбор</a>
            </div>
            <div class="class-select-container">
                <div class="class-list">
                    <% classes.forEach(function(classItem) { %>
                        <div class="class-item" data-school-id="<%= classItem.schoolId %>">
                            <input 
                                type="checkbox" 
                                name="classIds[]" 
                                value="<%= classItem._id %>"
                                id="class_<%= classItem._id %>"
                                <%= survey.classes.some(c => c.toString() === classItem._id.toString()) ? 'checked' : '' %>
                            >
                            <label for="class_<%= classItem._id %>">
                                <%= classItem.name %>
                            </label>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Варианты ответов:</label>
            <div id="optionsContainer" class="options-container">
                <% survey.options.forEach(function(option, index) { %>
                    <div class="option-item-edit">
                        <input 
                            type="text" 
                            name="options[<%= index %>][optionName]" 
                            value="<%= option.optionName %>"
                            placeholder="Введите вариант ответа" 
                            required
                            style="flex-grow: 1; margin-right: 10px;"
                        >
                        <button type="button" class="remove-option" onclick="removeOption(this)">✕</button>
                    </div>
                <% }); %>
            </div>
            <button type="button" class="btn btn-success add-option" onclick="addOption()">Добавить вариант</button>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="/admin/surveys" class="btn btn-secondary">Отмена</a>
        </div>
    </form>
</div>