    <form action="/admin/projects/create" method="POST" class="project-form">
        <h1>Создание нового проекта школы</h1>
        
        <div class="form-group">
            <label>Название проекта:</label>
            <input type="text" name="name" required>
        </div>
    
        <div class="form-group">
            <label>Описание проекта:</label>
            <textarea name="description" required></textarea>
        </div>
    
        <div class="form-group">
            <label>Школа:</label>
            <select id="schoolSelect" name="schoolId">
                <option value="">Все школы</option>
                <% schools.forEach(function(school) { %>
                    <option value="<%= school._id %>"><%= school.name %></option>
                <% }); %>
            </select>
        </div>
        
        <div class="form-group">
            <label>Класс:</label>
            <select id="classSelect">
                <option value="">Все классы</option>
            </select>
        </div>
        
        <div class="form-group">
            <label>
                <input type="checkbox" id="selectAll">
                Выбрать всех видимых
            </label>
        </div>
        
        <div id="usersList" class="users-list">
            <% users.forEach(function(user) { %>
                <% if (user.schoolId && user.classId) { %>
                    <div class="user-item" 
                        data-school-id="<%= user.schoolId %>" 
                        data-class-id="<%= user.classId %>">
                        <label>
                            <input type="checkbox" name="userIds[]" value="<%= user._id %>">
                            <%= user.name %> <%= user.surname %>
                            (<%= schools.find(s => s._id.toString() === user.schoolId.toString())?.name %> - 
                            <%= classes.find(c => c._id.toString() === user.classId.toString())?.name %>)
                        </label>
                    </div>
                <% } %>
            <% }); %>
        </div>
        
        <div class="selected-users">
            <h3>Выбранные участники (<span id="selectedCount">0</span>)</h3>
            <div id="selectedUsersList"></div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Создать</button>
            <a href="/admin/projects" class="btn btn-secondary">Отмена</a>
         </div>
    </form>